@"
# Docker
**/.env
**/node_modules/

# Kubernetes
**/*.kubeconfig
**/secrets.yaml
/minikube/

# Logs e temporários
*.log
*.tmp

# IDE
.idea/
.vscode/
"@ | Out-File -FilePath .gitignore -Encoding UTF8